
@{
    ViewBag.Title = "AddSession";
}

<h2>Add New Session</h2>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    @using (Html.BeginForm("AddSession", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="postedFile" />
        <input type="submit" value="Import" />
    }
    @if (ViewBag.Message != null)
    {
        <h4>@ViewBag.Message</h4>
    }
</body>
</html>

