
@{
    ViewBag.Title = "TeachersList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
} 
<div class="container-fluid">
    <div class="row page-title-div">
        <div class="col-md-6">
            <h2 class="title">Manage Teacher</h2>

        </div>

        <!-- /.col-md-6 text-right -->
    </div>
    <!-- /.row -->
    <div class="row breadcrumb-div">
        <div class="col-md-6">
            <ul class="breadcrumb">
                <li><a href="dashboard.php"><i class="fa fa-home"></i> Home</a></li>
                <li> Teachers Corner</li>
                <li class="active">Manage Teacher</li>
            </ul>
        </div>

    </div>
    <!-- /.row -->
</div>

<section class="section">
    <div class="container-fluid">



        <div class="row">
            <div class="col-md-12">

                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h5>View Classes Info</h5>
                        </div>
                    </div>
                    

                    <!--
                    <div class="alert alert-success left-icon-alert" role="alert">
                        <strong>Well done!</strong> 
                    </div> 
                    <div class="alert alert-danger left-icon-alert" role="alert">
                        <strong>Oh snap!</strong>  
                    </div>
                 -->
                    <div class="panel-body p-20">

                        <table id="example" class="display table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Class Name</th>
                                    <th>Class Name Numeric</th>
                                    <th>Section</th>
                                    <th>Creation Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Teacher Name</th>
                                    <th>Email </th>
                                    <th>Faculty</th>
                                    <th>Department</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                
                                <tr>
                                    <td>ok</td>
                                    <td>ok</td>
                                    <td>ok</td>
                                    <td>ok</td>
                                    <td>ok</td>
                                    <td>
                                        <a href="edit-class.php?classid=<?php echo htmlentities($result->id);?>"><i class="fa fa-edit" title="Edit Record"></i> </a>

                                    </td>
                                </tr>
                                


                            </tbody>
                        </table>


                        <!-- /.col-md-12 -->
                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->


        </div>
        <!-- /.col-md-12 -->
    </div>
    </div>
    <!-- /.panel -->
    </div>
    <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
    </div>
